<!DOCTYPE html>
<html>

<head>
    <style>

    </style>
    <title>
        STOCKS AND CHARTS
    </title>
</head>

<body style='margin-left: 50px;margin-right: 50px;margin-bottom: 50px'>
    <p>Dear {email}</p><br>
    <span>Thanks for your interest in the service. You can activate your account by clicking below link.</span><br>
    <br>
    <a href='{link}' ' style='background: blue;padding: 10px;color: yellow;font-family: Calibri;font-size: 15px;border-radius: 10px '><b>Activate account<b></a>
    <br>
    <br>
    <p>Thanks and Regards, <br> Manjunath
    </p>

</body>


</html>